<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <link href="~/Content/bootstrap-united.css" rel="stylesheet" type="text/css" />
</head>

<body>
    @RenderBody()
    <section class="footer-site">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="container body-content" style="margin-bottom:-1000%">
                        <hr />
                        <footer>
                            <p>&copy; @DateTime.Now.Year - All CopyRight Reserved</p>
                        </footer>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="~/Scripts/handlerHeader.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>