@model IEnumerable<PROJ_RYAN.ViewModels.AgendaViewModel>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schedule Cut</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="~/Content/Style.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-united.css" rel="stylesheet" type="text/css" />
    @*<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />*@
    <link href="~/Content/bootstrap-grid.min.css" rel="stylesheet" />
    <link href="~/Content/Agenda.css" rel="stylesheet" />
</head>

<body>
    @{
        ViewBag.Title = "Index";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="navbar-default"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" id="logo" style="color:#0a226f; font-size:150%;">Agenda Online</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a onclick="agendarHorario()" data-toggle="modal" data-target="#modalAgendar">Agenda</a></li>
                    <li><a class="active" id="opcAdm" href="/LoginCadastro/Index">Entrar como o Dono do Salão</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid" style="margin-top:70px">
        <div class="col-md-1 col-sm-2 col-xs-2 col-3 col-lg-2">
            <input width="70" onclick="agendarHorario()" data-toggle="modal" data-target="#modalAgendar" type="image" src="~/Images/teste.png" title="Agendar" alt="Agendar">
        </div>
        <input type="hidden" id="abrirModalResposta" data-toggle="modal" data-target="#modalResposta" />
        <div class="col-md-1 col-sm-2 col-xs-2 col-3 col-lg-1 col-md-offset-4 col-sm-offset-5 col-xs-offset-3 col-lg-offset-4">
            <input type="image" src="~/Images/horariologo.png" width="70" title="Horários de Serviço" alt="Horários de Serviço" data-toggle="modal" data-target="#modalHorario">
        </div>
    </div>

    <!-- Modal Horarios-->
    @RenderPage("~/Views/Modais/Horarios.cshtml")
    <!-- Modal Agendar-->
    @RenderPage("~/Views/Modais/Agenda.cshtml")
    <!-- Modal Resposta-->
    @RenderPage("~/Views/Modais/Resposta.cshtml")
    <br />
    @{
        foreach (var diasComDistinct in ViewBag.DiaComDistinctOrdenado)
        {
            <div class="table-responsive" id="tamanhoTable">
                <div class="container">
                    <div class="row">

                        <table align="center" class=" table table-bordered text-center">
                            <thead>
                                <tr class="text-center" style="background-color:#e95420;">
                                    <td colspan="7">
                                        <p style="color:white;font-size:larger;">Dia @diasComDistinct</p>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="col" class="text-center" style="color:#05169c;font-size:130%">
                                        @Html.DisplayNameFor(model => model.Nome)
                                    </th>
                                    <th scope="col" class="text-center" style="color:#05169c;font-size:130%">
                                        @Html.DisplayNameFor(model => model.Hora)
                                    </th>
                                    <th scope="col" class="text-center" style="color:#05169c;font-size:130%">
                                        @Html.DisplayNameFor(model => model.Celular)
                                    </th>
                                </tr>
                            </thead>
                            @foreach (var item in Model)
                            {
                                if (item.Data.Day + "/" + item.Data.Month + "/" + item.Data.Year == diasComDistinct)
                                {
                                    <tbody>
                                        <tr scope="row">
                                            <td class="sizeColumn1" style="width:25%;color:black;">
                                                @Html.DisplayFor(modelItem => item.Nome)
                                            </td>
                                            <td class="sizeColumn2" style="width:5%;color:black;">
                                                @Html.DisplayFor(modelItem => item.Hora)
                                            </td>
                                            <td class="sizeColumn3" style="width:10%;color:black;">
                                                @Html.DisplayFor(modelItem => item.Celular)
                                            </td>
                                        </tr>
                                    </tbody>
                                }
                            }
                        </table>
                    </div>
                </div>
            </div>
        }
    }
</body>
<!-- Importando o jQuery -->
<script src="~/Scripts/jquery-2.1.1.min.js"></script>
<!-- Importando o js do bootstrap -->
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/enviarRequisicao.js"></script>

