@model IEnumerable<PROJ_RYAN.ViewModels.AgendaViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="navbar-default"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/Adm/Index" class="navbar-brand" id="logo" style="color:#0a226f; font-size:150%">Logo do Salão</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/Agenda/ListaAgendadosAdm">Agenda</a></li>
                <li><a class="active" id="opcAdm" href="/LoginCadastro/Index">Entrar como o Dono do Salão</a></li>
            </ul>
        </div>
    </div>
</div>
<h2>Index</h2>

<a href="/Agenda/AgendarClienteAdm"><img src="~/Images/agenda2.png" width="60"></img></a>

<div class="text-center" style="margin-bottom:5px;">
    <button type="button" class="btn btn-primary" style="background-color:#05169c;border-color:#05169c" data-toggle="modal" data-target="#modalExemplo">
        Horários de Serviço
    </button>
</div>

<!-- Modal -->
<div class="modal fade" id="modalExemplo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" style="color:#05169c;font-size:130%;font-weight:700" id="exampleModalLabel">Horários de Funcionamento</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="color:#05169c;font-size:130%">
                09:30 | 10:20 | 11:10 | 12:00 | 12:50 | 13:40 | 14:30 | 15:20 | 16:10 | 17:00 | 17:50 | 18:40 | 19:30
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-primary"><a style="text-decoration:none;color:white" href="/Agenda/AgendarClienteAdm">Agendar Corte</a></button>
            </div>
        </div>
    </div>
</div>
@{
    foreach (var diasComDistinct in ViewBag.DiaComDistinct)
    {
        <div class="table-responsive">
            <ul class="list-group">
                <li class="list-group-item active text-center">
                    Dia @diasComDistinct
                </li>
            </ul>

            <table class="table table-bordered text-center">
                <thead>
                    <tr>
                        <th scope="col" class="text-center" style="color:#05169c;font-size:130%">
                            @Html.DisplayNameFor(model => model.Nome)
                        </th>
                        <th scope="col" class="text-center" style="color:#05169c;font-size:130%">
                            @Html.DisplayNameFor(model => model.Hora)
                        </th>
                        <th id="acoes"></th>
                    </tr>
                </thead>
                @foreach (var item in Model)
                {
                    if (item.Data.Day + "/" + item.Data.Month + "/" + item.Data.Year == diasComDistinct)
                    {
                        <tbody>
                            <tr scope="row">
                                <td style="width:25%;color:black;">
                                    @Html.DisplayFor(modelItem => item.Nome)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Hora)
                                </td>
                                <td id="acoes">
                                    @Html.ActionLink("Edit", "AtualizarDadosClientes", new { id = item.ClienteId }, new { @class = "btn btn-success" }) 
                                    @Html.ActionLink("Delete", "DeletarAgendamento", new { id = item.ClienteId }, new { @class="btn btn-danger"})
                                </td>
                            </tr>
                        </tbody>
                    }
                }
            </table>
        </div>
    }
}